/* Semantic Elements */
header, nav, footer {
    background-color: #2C1964;
    color: white;
}

header {
    text-align: center;
}

nav {
    text-align: left;
}

body {
    background-color: darkgrey;
}

/* Text */
.card h5 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

#services h5, h6 {
    text-decoration: underline;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.nav-link:visited {
    color: white;
}

.disclaimer {
    font-size: 8pt;
}

span {
    font-weight: bold;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.verse {
    background-color: pink;
}

.call {
    width: 60%;
    background-color: #2C1964;
    border: 2px solid white;
    text-align: center;
    justify-self: center;
    font-size: 20pt;
    color: white;
}

.call:hover {
    text-decoration: none;
}

button {
    background-color: #2C1964;
    border: none;
    color: white;
}

button:hover {
    text-decoration: underline;
}

h1 {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
}

h3, h4, h5 {
    font-family: Italiana;
}

.navbutton {
    position: relative; 
    right: 8px; 
    top: 5px;
}

#totop a {
    color: white;
    text-decoration: none;
}

#totop a:hover {
    text-decoration: underline;
}

/* Images */
#bio img, #history img {
    width: 90%;
    align-self: center;
    margin: 5px;
}

/* Containers */
.teammate {
    width: 40%;
    margin: 5px;
    border-color: black;
}

#first-row, #second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#history {
    display: flex;
    flex-direction: column;
}

#disclaimers {
    margin: 5px;
}

#contact {
    text-align: center;
}

.review {
    width: 100%;
    padding-left: 5px;
    text-align: left;
}

section {
    background-color: pink;
    width: 98%;
    text-align: center;
}

section a {
    color: #2C1964;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

#totop {
    position: fixed;
    bottom: 20px;
    z-index: 10;
    background-color: #2C1964;
    width: 3.5rem;
    border: 3px solid white;
    border-radius: 20%;
    text-align: center;
}

/* Other */
.navbar-toggler {
    color: white;
    border-color: white;
    font-size: 25px;
    position: relative;
    bottom: 85px;
    background-color: #2C1964;
    z-index: 10;
}

/* Media Queries */
@media (min-width: 768px) {
    nav {
        text-align: center;
    }

    #history {
        flex-direction: row;
    }

    #history-text {
        display: flex;
        flex-direction: column;
    }

    #history img {
        float: left;
        position: relative;
        right: 25px;
    }

    #bio img{
        width: 45%;
        float: right;
        margin: 0px;
    }

    .teammate {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: fixed;
        top: 5px;
        z-index: 10;
    }

    #history img {
        width: 36%;
    }

    #bio img {
        width: 30%;
    }

    #team {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3 0px;
    }

    .teammate {
        width: 30%;
    }

    #first-row, #second-row {
        margin: 0px;
        justify-content: space-evenly;
    }

    .navbutton {
        top: 7.5px;
        left: 1px;
    }

    section {
        width: 30%;
    }

    .call {
        width: 30%;
        float: right;
    }

    #totop {
        display: none;
    }
}